.list_box{
  display: flex;
  justify-content: center;
  margin: 50px auto;
  max-width: 700px;
}


.must_do{
  padding: 20px 30px;
  border: 1px solid rgb(128, 128, 128, 0.7);
}

.done{
  padding: 20px 30px;
  border: 1px solid rgb(128, 128, 128, 0.7);
}

.must_do p, .done p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.7);
}
ul{
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

ul li{
  font-size: 17px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(128, 128, 128, 0.7);
  padding: 15px;
  font-style: italic;
}

li button{
  font-size: 16px;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}


.form{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 500px;
  border: 1px solid rgb(128, 128, 128, 0.7);
}

.form p{
  font-size: 20px;
  text-align: center;
  padding:5px;
  margin:5px;
}

.form input{
  width: 470px;
  padding: 10px;
}

.form button{
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}