.links{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.link{
    font-weight: 700;
    margin-right: 15px;
    padding: 10px;
    border: 1px solid #162d70;
    border-radius: 5px;
    text-decoration: none;
}


.title{
    font-family: fantasy;
    font-size: 35px;
    text-align: center;
}

.image{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px red;
}

.textInfo{
    text-align: center;
    padding: 20px;
    font-size: 23px;
    line-height: 30px;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid #c45e10; */
    background-color: #c9cc1d;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
}



.errLogo{
    text-align: center;
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.errText{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    margin: 20px 600px;
    font-size: 30px;
    background-color: rgba(201, 175, 26, 0.7);
    box-shadow: 10px 10px 2px 1px rgba(3, 4, 54, 0.7);

}